<!DOCTYPE html>
<html>
    <head>
        <title> Laporan ! LAPOR! </title>
        <link rel="stylesheet" type="text/css" href=stylelapor.css>

    </head>
    <body>
        <header>
            <div class="container">
                <div id="menukiri">
                  

                </div>
                <nav>
                    <ul>
                        <li class="active"><a href="#" > Tentang Lapor! </a></li>
                        <li> <a href="#"> Laporan </a></li>
                        <li> <a href="#"> Cari Aduan </a></li>
                    
                    </ul>
                </nav>
                <div id="menukanan">
                    <nav>
                        <ul>
                            <li>
                                <li> <a href="#"> Masuk </a></li> 
                                <li> <a href="#"> Daftar </a></li>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            

        </header>
        
        

</html>